<h3>Name: <%= @order.name %></h3>
<h3><%= @order.address %></h3>

<% @order.merchant_items(current_user.merchant.id).each do |item_order|%>
<section id="item-<%= item_order.item_id %>">
  Item name: <%= link_to "#{item_order.item.name}", "/items/#{item_order.item_id}" %><br>
  <%= image_tag item_order.item.image, height: '50', width: '50' %><br>
  Price: <%= item_order.price %><br>
  Quantity: <%= item_order.quantity %><br>
  <% if item_order.status != 'fulfilled' && item_order.item.inventory >= item_order.quantity %>
    <%= button_to "fulfill", "/merchant/orders/#{item_order.id}", method: :patch %>
  <% elsif item_order.item.inventory < item_order.quantity  %>
    <p>Item cannot be fulfilled</p>
  <% else %>
    <p>Item has already been fulfilled</p>
  <% end %>
</section><br>
<% end %>
