<h1>User Information<h1>

  <p><%= @account.name %></p>
  <p><%= @account.address %></p>
  <p><%= @account.city %></p>
  <p><%= @account.state %></p>
  <p><%= @account.zip %></p>
  <p><%= @account.email %></p>

<%= link_to "My Orders", "/profile/orders" %>
